/* .procedure {
    background: #fff;
    margin-left: 5px;
    border: 1px solid #accdff;
    padding: 10px;
    font-size: 12px;
    color: #666;
    margin-bottom: 5px;
    width: 1261px;
}
.procedure h4 {
    display: inline-block;
    line-height: 60px;
    font-size: 14px;
    float: left;
    margin-right: 10px;
    color: #0099cc;
}

.ul{
    width: 900px;
    height: 48px;
    margin-left: 100px;
}
.ul li{
    list-style: none;
    width: 110px;
}
.t1{
    margin: 0;
}
.t3{
    text-align: center;
    margin-top:5px;
}
.attach{
    width: 110px;
    height: 4px;
    background: #CCC;
    margin-top: 11px;
    position: relative;
}
.gep{
    width: 18px;
    height: 18px;
    position: absolute;
    top: -6px;
    left:46px;
    background: url(http://14.215.115.87:4007/csfw_web/skins/skins2/images/procedure_yuan3.png);
} */
.header{
    width: 100%;
    height:130px;
    background: #FFF;
}
.eventNo{
    /* border: 1px solid #accdff; */
    height:30px;
    font-size: 14px;
    margin: 5px 15px 0 15px;
}
.header_content{
    border: 1px solid #accdff;
    height:80px;
    margin: 24px 15px;
}
.huanjie{
    font-size: 14px;
    color:#0099cc;
    line-height: 80px;
    margin-left: 10px;
    float: left;
}
.header_content ul{
    list-style: none;
    float: left;
    padding-left: 10px;
}

.header_content ul li{
    float: left;
    width: 130px;
    height: 40px;
}

.item .itemDiv{
    width: 130px;
    height: 40px;
    margin-top: 20px;
    border: 1px solid #FFF;
    position: relative;
}

.line{
    margin: 17px auto;
    width: 126px;
    height: 5px;
    background: #CCC;
}
.point{
    width: 15px;
    height: 15px;
    background: #33CC00;
    position: absolute;
    top: 12px;
    left: 44%;
    border-radius: 8px;
    cursor: pointer;
}
.text{
    width: 130px;
    font-size: 12px;
    position: absolute;
    top: 12px;
    left: 0;
    text-align: center;
}



 /* .procedure ul {
    float: left;
    width: 100px;
} */
/*
.procedure-line li {
    margin-bottom: 40px;
}
.procedure li {
    float: left;
    width: 110px;
    margin-bottom: 35px;
    text-align: center;
    position: relative;
    border-bottom: 3px solid #ccc;
    height: 30px;
} */
/* .procedure li .t1 {
    color: #999999;
    padding-bottom: 10px;
}

.pop_attach .gep {
    width: 18px;
    height: 18px;
    background: url(../images/procedure_yuan1.png) no-repeat 0 0;
    position: absolute;
    left: 50%;
    margin-left: -9px;
    top: -8px;
} */